## Exercises

<b>Download the Olympic history dataset from https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results and complete these exercises.</b>

1) Look at 10 rows of the dataset (top or bottom).

This dataset stores information about past performances of athletes on Olympic games.

2) Look at the distribution of values (value counts of different values) in the column `'Medal'`.

Notice how the function used sorts values in descending order - it will be useful later on.

3) Check the distribution of `NaNs` across columns. What does the presence of `Nan` mean in each column?

4. Calculate participation according to year in sport.

5. Calculate percentage athletes who won gold medal grouping by sport.

6) Select only the rows describing gold medalists and store them into `gold_df` variable.

7) Calculate the average age of gold medalist.

8) Show top 10 countries with respect to the number of gold medals won.

9) Calculate the number of golden medals of Belgium.

10) Calculate number of Polish gold medals by year.

11) Visualise it using function `plot()`.

12) Select all of the rows describing Polish gold medals in 1972 to analyze the anomaly.

13) Calculate weight to height ratio for every athlete.

14) Create a new column with the average height for a given sex and age of athletes (not only gold medalists). Call it `'typical_height'`.

15) Create a new column `'height_diff'` with the deviation of height from the typical value in the segment.

16) Drop the rows in the dataset where the newly calculated value is `NaN`. How many rows have been dropped?

17) Plot the histogram of this newly calculated column.

18) Verify whether the majority of gold medalists were higher than the typical height of their segment.

19) Calculate the actual percentage of gold medalists higher than the `'typical height'`.

20) Calculate mean age and standard deviation of gold medalists. Compare it with the youngest gold medalist.

21) Add new columns `first_gold` and `last_gold` meaning the first and last years of obtaining a gold medals by an athlete.

22) Add a new column `'gold_span'` with the span in years of achieved gold medals. What is the maximal value of this span?

23) Select the rows describing the history of this athlete/these athletes that reached maximal span.

24. Find top performers in each Olympics (athletes who won the most medals).

25) Who obtained the highest number of silver medals without ever getting a gold one and how many of them?

26. Create a new DataFrame called "gold_medals_one_hot", and fill it with values from the "Medal" column encoded using one-hot method. Explanation and example of one-hot encoding can be found [here](https://en.wikipedia.org/wiki/One-hot)